@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

.header__index {
  font-family: "Shrikhand", cursive;
  text-align: center;
  box-shadow: 0px 3px 4px 1px grey;
  padding: 0.2rem;
  position: relative;
}
.header__index a {
  text-decoration: none;
  color: black;
}
.header__index a:hover {
  cursor: pointer;
}

/*création de la localisation*/
.location {
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/*création de la fonction réserver + bouton*/
.location__container {
  text-align: center;
  background-color: #fafafa;
  padding: 1rem 0 2rem 0;
}
.location__container h2 {
  margin-top: 2rem;
}
.location__container button {
  /*création du bouton réserver pour la partie reservation*/
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(#ff79da, #9356dc);
  transition: transform 200ms;
  box-shadow: 2px 1px 16px -3px #000;
  /*création du bouton commander*/
}
.location__container button:hover {
  transform: scale(1.05);
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 2px 1px 35px -3px #000;
}

.function {
  width: auto;
  padding: 1rem 1rem;
}

.function__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0px 10px 10px;
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 1rem 2rem;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px #b4b4b4;
  background-color: #f6f6f6;
  position: relative;
}
.button__number {
  position: absolute;
  margin: 0;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #9356dc;
  border: 1px solid #9356dc;
  border-radius: 22px;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button__i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button__text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
}

.button:hover {
  background-color: rgba(147, 86, 220, 0.1);
  cursor: pointer;
}

.button:hover i {
  color: #9356dc;
}

/*mixin pour médiaqueries boutons accueil*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .function__list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0;
  }
  .function__list .button {
    width: 20rem;
  }
}
@media screen and (min-width: 992px) {
  .function__list {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 0;
  }
  .function__list .button {
    width: 20rem;
  }
}
/*création des cartes du menu*/
.menus {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
  width: auto;
  /*validation du coeur au clic*/
}
.menus__cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.menus__card {
  position: relative;
  background-color: #fff;
  width: 30rem;
  height: 305px;
  border-radius: 20px;
  box-shadow: 2px 1px 16px -3px #000;
}
.menus__card a {
  text-decoration: none;
  color: black;
}
.menus__card img {
  width: 100%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.menus__card:hover {
  transform: scale(1.02);
  box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}
.menus .card__text {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
  text-align: center;
  border-radius: 3px;
  padding: 15px;
  color: #0c6b50;
  background: #99E2D0;
}
.menus .card__infos {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: relative;
}
.menus .card__infos h4 {
  margin: 0px;
  padding: 8px 0 0 10px;
}
.menus .card__infos p {
  margin: 0;
  padding-left: 10px;
}
.menus .card__infos i {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.menus .card__infos .fa-solid {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
@-webkit-keyframes dislike {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
@keyframes dislike {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.menus input {
  display: none;
}
.menus input:checked + .firstheart .fa-solid {
  -webkit-animation: dislike 3s ease-out 0.5s 1 normal forwards;
          animation: dislike 3s ease-out 0.5s 1 normal forwards;
}
.menus input:checked + .secondheart .fa-solid {
  -webkit-animation: dislike 3s ease-out 0.5s 1 normal forwards;
          animation: dislike 3s ease-out 0.5s 1 normal forwards;
}
.menus input:checked + .thirdheart .fa-solid {
  -webkit-animation: dislike 3s ease-out 0.5s 1 normal forwards;
          animation: dislike 3s ease-out 0.5s 1 normal forwards;
}
.menus input:checked + .forthheart .fa-solid {
  -webkit-animation: dislike 3s ease-out 0.5s 1 normal forwards;
          animation: dislike 3s ease-out 0.5s 1 normal forwards;
}

/*mixin pour médiaqueries cartes restaurant accueil*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .menus {
    width: auto;
  }
  .menus__cards {
    width: 100%;
  }
  .menus__card {
    width: 45%;
  }
}
@media screen and (min-width: 992px) {
  .menus {
    width: auto;
  }
  .menus__cards {
    width: 100%;
    flex-wrap: nowrap;
  }
  .menus__card {
    width: 45%;
  }
}
.footer {
  background: #2c2c2c;
  color: white;
  padding: 30px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  margin: 0;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__list i {
  margin-right: 20px;
  width: 10px;
  height: 10px;
}

/*mixin pour médiaqueries footer*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer__title {
    text-align: center;
    font-size: 25px;
    padding-bottom: 1rem;
  }
  .footer__list {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (min-width: 992px) {
  .footer__title {
    text-align: center;
    font-size: 25px;
    padding-bottom: 1rem;
  }
  .footer__list {
    display: flex;
    justify-content: space-around;
  }
}
/*Création logo chargement*/
.loading__spinner {
  position: fixed;
  background-image: linear-gradient(#FF79DA, #9356dc);
  height: 100vh;
  inset: 0px; /*pour ne pas que la page descende avec le scroll mettre position:fixed et rajouter inset*/
  z-index: 1; /*pour le faire passer devant ma page*/
  opacity: 0.9; /*pour le rendre plus transparent*/
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-animation: disappear 3s forwards;
          animation: disappear 3s forwards;
  transform-origin: top; /* fin de l'animation*/
}
.loading__spinner__box {
  background-color: #000;
  border: 10px solid transparent;
  height: 10rem;
  width: 10rem;
  border-top: 10px solid #9356dc;
  border-bottom: 10px solid #FF79DA;
  border-radius: 50%;
  -webkit-animation: chargeur 3s linear infinite;
          animation: chargeur 3s linear infinite;
}
.loading__spinner__text {
  color: #99E2D0;
  font-size: 1.2rem;
  font-weight: bold;
  position: fixed;
}

/*keyframes pour le loading spinner*/
@-webkit-keyframes disappear {
  to {
    transform: scale(0); /*pour réduire la page*/
  }
}
@keyframes disappear {
  to {
    transform: scale(0); /*pour réduire la page*/
  }
}
@-webkit-keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #9356dc;
    border-bottom-color: #FF79DA;
  }
  25% {
    border-top-color: #FF79DA;
    border-bottom-color: #9356dc;
  }
  50% {
    transform: rotate(360deg) scale(1.5);
    border-top-color: #9356dc;
    border-bottom-color: #FF79DA;
  }
  75% {
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #9356dc;
    border-bottom-color: #FF79DA;
  }
}
@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #9356dc;
    border-bottom-color: #FF79DA;
  }
  25% {
    border-top-color: #FF79DA;
    border-bottom-color: #9356dc;
  }
  50% {
    transform: rotate(360deg) scale(1.5);
    border-top-color: #9356dc;
    border-bottom-color: #FF79DA;
  }
  75% {
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #9356dc;
    border-bottom-color: #FF79DA;
  }
}
/*rotation de l'icone intérieur*/
/*apparition des plats sur la page restaurant*/
@-webkit-keyframes appearance {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes appearance {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*animation du coeur*/
@-webkit-keyframes efface {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes efface {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header__restaurant {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #f6f6f6;
  padding: 0;
}
.header__restaurant i {
  font-weight: 900;
  font-size: 2rem;
  color: #000;
}
.header__restaurant h1 {
  font-size: 2rem;
}

.introduction__image img {
  display: block;
  width: 100%;
  height: 60vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant__main {
  margin-top: -3rem;
  z-index: 1;
  position: relative;
}
.restaurant__main h2 {
  font-family: "Shrikhand", cursive;
  padding: 2rem 1rem;
  margin: 0;
  border-radius: 1rem 1rem 0 0;
}

.banner {
  background: #f6f6f6;
  position: relative;
  border-radius: 2rem 2rem 0 0;
  /*validation du coeur au clic*/
}
.banner i {
  font-size: 1.5rem;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
}
.banner .fa-solid {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
}
@keyframes dislike {
  from {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}
.banner input {
  display: none;
}
.banner input:checked + .heart_page_one .fa-solid {
  -webkit-animation: dislike 3s ease-out 0.5s 1 normal forwards;
          animation: dislike 3s ease-out 0.5s 1 normal forwards;
}
.banner input:checked + .heart_page_two .fa-solid {
  -webkit-animation: dislike 3s ease-out 0.5s 1 normal forwards;
          animation: dislike 3s ease-out 0.5s 1 normal forwards;
}
.banner input:checked + .heart_page_three .fa-solid {
  -webkit-animation: dislike 3s ease-out 0.5s 1 normal forwards;
          animation: dislike 3s ease-out 0.5s 1 normal forwards;
}
.banner input:checked + .heart_page_for .fa-solid {
  -webkit-animation: dislike 3s ease-out 0.5s 1 normal forwards;
          animation: dislike 3s ease-out 0.5s 1 normal forwards;
}

.grid {
  padding: 0 1rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  background: #f6f6f6;
}
.grid h3 {
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}
.grid h3::after {
  content: "";
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0rem;
  top: 1.5rem;
}
.grid .grid__menu-categorie {
  display: grid;
  gap: 1rem;
}
.grid__menu {
  background: white;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  border-radius: 1rem;
  overflow: hidden;
  white-space: nowrap;
  -webkit-animation: appearance 3s;
          animation: appearance 3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  /*animation pour le scroll du menu*/
  /*animation pour le scroll du menu*/
  /*animation pour le scroll du menu*/
}
.grid__menu:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.grid__menu:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.grid__menu:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.grid__items {
  display: flex;
  overflow: hidden; /*pour cacher le boutou vert*/
  border-radius: 1rem;
  /*création du bouton check*/
}
.grid__items .grid__items-description {
  padding: 1rem;
  overflow: hidden;
  width: 100%;
}
.grid__items .grid__items-description h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.grid__items .grid__items-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
.grid__items .grid__items-price {
  margin-left: auto;
  padding: 1rem;
  font-weight: 900;
  display: flex;
  align-items: flex-end;
}
.grid__items .grid__items-box {
  border-radius: 0 1rem 1rem 0;
  background: #99E2D0;
  display: grid;
  place-items: center;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
.grid__items .grid__items-box i {
  background: white;
  border-radius: 50%;
  height: 1.5rem;
  width: 1.5rem;
  display: grid;
  place-items: center;
  color: #99E2D0;
}
.grid__items:hover {
  cursor: pointer;
}
.grid__items:hover .grid__items-box { /*création du hover bouton vert*/
  margin-right: 0;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
}
.grid__items:hover i {
  -webkit-animation: rotation 0.5s ease-in-out;
          animation: rotation 0.5s ease-in-out;
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}

.order__button {
  height: 20vh;
  display: grid;
  place-items: center;
  background-color: #f6f6f6;
}
.order__button button {
  /*création du bouton réserver pour la partie reservation*/
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 20px;
  background-image: linear-gradient(#ff79da, #9356dc);
  transition: transform 200ms;
  box-shadow: 2px 1px 16px -3px #000;
}
.order__button button:hover {
  transform: scale(1.05);
  cursor: pointer;
  opacity: 0.8;
  box-shadow: 2px 1px 35px -3px #000;
}

.footer {
  background: #2c2c2c;
  color: white;
  padding: 30px;
}
.footer a {
  text-decoration: none;
  color: white;
}
.footer__title {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  margin: 0;
}
.footer__list {
  list-style-type: none;
  padding: 0;
}
.footer__list i {
  margin-right: 20px;
  width: 10px;
  height: 10px;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .grid > h3 {
    text-align: center;
    color: rgb(206, 10, 209);
    font-size: x-large;
  }
  .grid > h3::after {
    display: none;
  }
  .grid__menu-categorie {
    place-items: center;
  }
  .grid__menu {
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .grid > h3 {
    text-align: center;
    color: rgb(206, 10, 209);
    font-size: x-large;
  }
  .grid > h3::after {
    display: none;
  }
  .grid__menu-categorie {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .grid__menu {
    width: 100%;
  }
}
/*keyframes pour le loading spinner*/
@keyframes disappear {
  to {
    transform: scale(0); /*pour réduire la page*/
  }
}
@keyframes chargeur {
  0% {
    transform: rotate(0deg) scale(1);
    border-top-color: #9356dc;
    border-bottom-color: #FF79DA;
  }
  25% {
    border-top-color: #FF79DA;
    border-bottom-color: #9356dc;
  }
  50% {
    transform: rotate(360deg) scale(1.5);
    border-top-color: #9356dc;
    border-bottom-color: #FF79DA;
  }
  75% {
    border-top-color: #9356dc;
    border-bottom-color: #9356dc;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top-color: #9356dc;
    border-bottom-color: #FF79DA;
  }
}
/*rotation de l'icone intérieur*/
/*apparition des plats sur la page restaurant*/
@keyframes appearance {
  0% {
    transform: translateY(70%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*animation du coeur*/
@keyframes efface {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */