@import "../utils/colors";

/*création de la localisation*/
.location{
    background-color: $Grey;
    display: flex;  
    justify-content: center;  
    align-items: center;
    gap: 1rem;
       
}