@import "../utils/mixins";
.menus{
    background-color: #f6f6f6;
    padding: 2rem 1rem;
    width: auto;
&__cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    }
&__card{
        background-color: #fff;
        width: 30rem;
        height: 300px;
        border-radius: 20px;
        position: relative;
        @include shadow;
        & a{
            text-decoration: none;
            color: black;
        }
        & img{
            width: 100%;
            height: 15rem;
            object-fit: cover;
            border-radius: 1rem 1rem 0 0;
        }
            
    }
.card__text{
        position: absolute;
        top: 20px;
        right: 20px;
        width: 100px;
        text-align: center;
        border-radius: 3px;
        padding: 15px;
        color: #0c6b50;
        background: #99E2D0;
    }
.card__infos{
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative; 
        & h4{
            margin: 0px;
            padding-left: 10px;
        }
        & p{
            margin: 0;
            padding-left: 10px;
        }
        & i{
            font-size: 1.5rem;
            position: absolute;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
        .fa-solid {
            color:transparent;
            background-image: linear-gradient(#ff79da, #9356dc);
            background-clip: text;
            -webkit-background-clip:text;
            opacity: 0;
        }
        &:hover .fa-solid{
            opacity: 1;
        }
        &:current .fa-solid{
            opacity: 1;
        }
       
    } 

}

