@import "../utils/mixins";
@import "../utils/mixins";

/*création de la fonction réserver + bouton*/
 .location__container{
    text-align: center;
    background-color: #fafafa;
    padding: 1rem 0 2rem 0;
    h2{
        margin-top: 2rem;     
    }
    button{
        @include button;
        }
    }
