@import "../utils/mixins";
@import "../utils/colors";

.function{
    width: auto;
    padding: 1rem 1rem;
}

.function__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0px 10px 10px;
}

.button{
    min-width: 160px;
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1rem 2rem;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 5px 10px 0px #b4b4b4;
    background-color: $Background;
    position: relative;
    &__number{
        position: absolute;
        margin: 0;
        left: -10px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background-color: $Primary;
        border: 1px solid $Primary;
        border-radius: 22px;
        color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    &__i{
        display: flex;
        justify-content: center;
        align-items: center;
    } 
    &__text{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 2rem;
        font-weight: 700;
    }
    .fas{
        color: grey;
    }
}


.button:hover{
    background-color:  rgba(147, 86, 220, .1);
    cursor: pointer;
}

.button:hover i{
    color: $Primary;
}

@include function__lign;

@include function__lign__two;