/*Création logo chargement*/
.loading__spinner{
    position: fixed;
    background-image: linear-gradient($Secondary, $Primary);
    height: 100vh;
    inset: 0px; /*pour ne pas que la page descende avec le scroll mettre position:fixed et rajouter inset*/
    z-index: 1; /*pour le faire passer devant ma page*/
    opacity: 0.9;/*pour le rendre plus transparent*/
    display:flex;
    justify-content:center;
    align-items:center;
    animation: disappear 3s forwards;
    transform-origin: top ; /* fin de l'animation*/
      &__box {
       background-color: #000;
       border: 10px solid transparent;
       height: 10rem;
       width: 10rem;
       border-top: 10px solid $Primary;
       border-bottom: 10px solid $Secondary;
       border-radius:50%;
       animation: loader 3s linear infinite;
    }
      &__text{
       color:$Tertiaire;
       font-size: 1.2rem;
       font-weight:bold;
       position:fixed; 
      }
}