@import "../utils/colors";
@import "../utils/mixins";
@import "../utils/animations";

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    i {
        font-weight: 900;
        font-size: 2rem;
    }
}
.introduction__image img{
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
  

}

.restaurant__main{ 
    margin-top: -3rem;
    z-index: 1;
    position: relative;
   
    h2{
    font-family: 'Shrikhand', cursive;
    padding: 2rem 1rem;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
    
}
}

.banner{
    background: #f6f6f6;
    position: relative;
    border-radius: 2rem 2rem 0 0;
  
    & i{
        font-size: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .fa-solid {
        color:transparent;
        background-image: linear-gradient(#ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip:text;
        opacity: 0;
    }
    &:hover .fa-solid{
        opacity: 1;
        transition: 0.5s;
    }
    &:current .fa-solid{
        opacity: 1;
    }
}

.grid{
    padding: 0 1rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    background: $Background;
    h3{
        text-transform : uppercase;
        font-weight: 400;
        position: relative;
        &::after{
            content: "";
            height: .25rem;
            width: 3rem;
            background-color: $Tertiaire;
            position: absolute;
            left: 0rem;
            top: 1.5rem;
        }
    }
    .grid__menu-categorie{
        display:grid;
        gap: 10px;
    }
   
    &__menu{
        background: white;
        @include lightershadow;
        border-radius: 1rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        animation: appearance 3s;
        animation-fill-mode: both;
        @for $i from 2 through 4{
            &:nth-child(#{$i}) {
                animation-delay:100ms * $i;
            }
        }
    }
    &__items{
        display: flex;
        overflow: hidden; /*pour cacher le boutou vert*/
        border-radius: 1rem;
         white-space: nowrap;
         text-overflow: ellipsis;
         
        .grid__items-description{
            padding: 0 1rem; 
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis; 
            h4,p{
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            }
         
        }
        .grid__items-price{
            margin-left: auto;
            padding: 1rem;
            font-weight: 900;
            display: flex;
            align-items: flex-end;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        /*création du bouton check*/
        .grid__items-box{
            border-radius: 0 1rem 1rem 0;
            background: $Tertiaire;
            display: grid;
            place-items: center;
            margin-right: -4rem;
            width: 4rem;
            transition: margin-right 0.5s;
            i {
                background: white;
                border-radius: 50%;
                height: 1.5rem;
                width: 1.5rem;
                display: grid;
                place-items: center;
                color: $Tertiaire;
            }
        }  
        &:hover{ 
            cursor: pointer;
            .grid__items-box{ /*création du hover bouton vert*/
                margin-right: 0;
                animation: slide-left 0.5s ease;
            }
            
            i{
                @include rotation; /*rotation de l'icone intérieur*/
                animation: rotation 0.5s ease-in-out;
            }
            }
        
   
    
    }
}
.order__button{
    height: 20vh;
    display: grid;
    place-items: center;
    background-color: $Background;
    button{
        @include button;
    }
} 

.footer{
    @include footer;
}

@include grid__button;
@include grid__button__two;