@import "../utils/colors";

.introduction__image img{
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
  

}

.restaurant__main{ 
    margin-top: -3rem;
    z-index: 1;
    position: relative;
    border-radius: 2rem 2rem 0 0;
   
   
    h2{
    font-family: 'Shrikhand', cursive;
    padding: 2rem 1rem;
    margin: 0;
    border-radius: 1rem 1rem 0 0;
    
}
}

.banner{
    background: #f6f6f6;
    position: relative;
  
    & i{
        font-size: 1.5rem;
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }
    .fa-solid {
        color:transparent;
        background-image: linear-gradient(#ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip:text;
        opacity: 0;
    }
    &:hover .fa-solid{
        opacity: 1;
    }
    &:current .fa-solid{
        opacity: 1;
    }
}

.grid{
    padding: 0 1rem;
    gap: 1rem;
    background: yellow;
    display: grid;
    grid-template-columns: 1fr;
    &__menu{
        border: 1px solid black;
        background-color:white;
       
    }
    &__items{
        display: flex;
        & > *{
            border: 1px solid black;
        }
        .grid__items-description{
            padding: 1rem;  
        }
        .grid__items-price{
            margin-left: auto;
            padding: 1rem;
            display: flex;
            align-items: flex-end;
        }
        /*création du bouton check*/
        .grid__items-box{
            background: $Tertiaire;
        }
    }
    &__items h4,p{
        margin: 0;
        
    }
}