/*keyframes pour le loading spinner*/
@keyframes disappear{
    to{
        transform: scale(0); /*pour réduire la page*/
    }
  }
  @keyframes chargeur{
  0%{
    transform: rotate(0deg) scale(1);
    border-top-color: $Primary;
    border-bottom-color:$Secondary;
  }
   25%{
     border-top-color:$Secondary;
     border-bottom-color:$Primary;
  }
   50%{
     transform: rotate(360deg) scale(1.50);
     border-top-color:$Primary;
     border-bottom-color:$Secondary;
  }
  75%{
    border-top-color: $Primary;
    border-bottom-color:$Primary;    
  }
  100%{
     transform: rotate(720deg) scale(1);
     border-top-color:$Primary;
     border-bottom-color:$Secondary;
  }
  }

/*rotation de l'icone intérieur*/
@mixin rotation{
    @keyframes rotation{
        0%{
            transform: rotate(-270deg);
        }
        100%{
            transform: rotate(0);
        }
    }
}

/*apparition des plats sur la page restaurant*/
@keyframes appearance{
    0%{
        transform: translateY(70%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}


/*animation du coeur*/
@keyframes efface{
    90%{opacity: 1;}
    100%{opacity: 0;}
}

