@mixin shadow{
    box-shadow: 2px 1px 16px -3px #000;
}

@mixin lightershadow{
    box-shadow: 2px 1px 8px -3px #7e7e7e;
}

@mixin font{
font-family: 'Shrikhand', cursive;
}

@mixin button{
    color: white;
        font-weight: 400;
        font-size: 1.2rem;
        padding: 1rem 1.5rem;
        border: none;
        border-radius: 20px;
        background-image: linear-gradient(#ff79da, #9356dc);
        transition: transform 200ms;
       box-shadow: 2px 1px 16px -3px #000;
        &:hover{
            transform: scale(1.05);
            cursor: pointer;
            opacity: 0.8;
            box-shadow: 2px 1px 35px -3px #000;
        }
}

@mixin footer{
    background:  #2c2c2c;
    color: white;
    padding: 30px;
    & a{
        text-decoration: none;
        color: white;
    }
    &__title{
        font-family: 'Shrikhand', cursive;
        font-weight: 500;
        margin: 0;
    }
    &__list{
        list-style-type: none;
        padding: 0;
        & i{
            margin-right: 20px;
            width: 10px;
            height: 10px;
        }
    }
}
@mixin footer__lign{ /*mixin pour médiaqueries footer*/
    @media screen and (min-width:768px) and (max-width:991px){
    .footer__title{
        text-align: center;
        font-size: 25px;
        padding-bottom: 1rem
    }
    .footer__list{
        display: flex;
        justify-content: space-around;
    }
}
}

@mixin footer__lign__two{
    @media screen and (min-width:992px){
        .footer__title{
            text-align: center;
            font-size: 25px;
            padding-bottom: 1rem
        }
        .footer__list{
            display: flex;
            justify-content: space-around;
        }

    }

}


@mixin restaurant__lign{ /*mixin pour médiaqueries cartes restaurant accueil*/
    @media screen and (min-width:768px) and (max-width:991px) {
    .menus{
        width: auto;
    &__cards{
        width: 100%;
    }
    &__card{
        width: 45%;
        
    }
    
    }
}
}
@mixin restaurant__lign__two{
@media screen and (min-width:992px) {
    .menus{
        width: auto;
    &__cards{
        width: 100%;
        flex-wrap: nowrap;
    }
    &__card{
        width: 45%;
        
    }
    
    }
}
}

@mixin function__lign{ /*mixin pour médiaqueries boutons accueil*/
    @media screen and (min-width:768px) and (max-width:991px){
        .function__list{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;
            margin: 0;
            .button{
                width: 20rem;
               
            }
        }
    }
    }

@mixin function__lign__two{
    @media screen and (min-width:992px) {
        .function__list{
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 50px;
            margin: 0;
            .button{
                width: 20rem;
               
            }
        }
}
}


@mixin grid__button{
    @media screen and (min-width:768px) and (max-width:991px){
        .grid > h3{
            text-align: center;
            color: rgb(206,10,209);
            font-size: x-large;
            &::after{
                display: none;
            }
        }
        .grid__menu-categorie{
            place-items: center;
        }
        .grid__menu{
            width: 90%;
            
        }
    }
}

@mixin grid__button__two{
    @media screen and (min-width:992px){
        .grid > h3{
            text-align: center;
            color: rgb(206,10,209);
            font-size: x-large;
            &::after{
             display: none;
            }
        }
        .grid__menu-categorie{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
       
        }
        .grid__menu{
            width: 95%;
            
        }
    }
}